/bin
.svn

/gen
/target
project.properties
/libsproject/actionbar/bin
/libsproject/actionbar/gen
/libsproject/viewPagerIndicator/bin
/libsproject/viewPagerIndicator/gen
/libsproject/viewPagerIndicator/local.properties
/libsproject/actionbar/local.properties
/libsproject/actionBarSherlock/gen
/libsproject/actionBarSherlock/bin